<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, sans-serif;
      }
      .navbar {
        background-color: rgb(67, 65, 65); 
        color: white; 
        padding: 20px;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .navbar ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly; 
        padding: 0;
      }
      .navbar li {
        margin: 0 15px; 
      }
      .navbar a {
        text-decoration: none;
        color: white; 
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/user/article">article</a></li> 
        <li><a href="/user/articleform">articleform</a></li>
        <li><a href="/user/articlelist">articleitems</a></li>
        <li><a href="/user/register">register</a></li>
        <li><a href="/user/login">Login</a></li>
      </ul>
    </div>
  </body>
</html>